<%- include('../partials/header') %>
<section id="show-page">
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight No: </div>
    <div><%= flight.flightNo %></div>
    <div>Departs: </div>
    <div><%= flight.departs %></div>
</section>

<br><br><h2>Destinations</h2>
<form id="add-destination-form" method="post" 
action="/flights/<%= flight._id %>/destinations">
    <label>Airport:</label>
        <select name="airport">
            <option>AUS</option>
            <option>DFW</option>
            <option>DEN</option>
            <option>LAX</option>
            <option>SAN</option>
        </select>
    <br>
    <label>Arrival:
        <input type="datetime-local" name="arrival">
    </label>
    <br>
    <input type="submit" value="Add Destination">
</form>

<% if (flight.destinations.length) { %>
    <table>
        <thead>
            <tr>
                <th>Airport</th>
                <th>Arrival</th>
            </tr>
        </thead>
        <tbody>
            <% flight.destinations.forEach(function(f) { %>
                <tr>
                    <td><%= f.airport %></td>
                    <td><%= f.arrival %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
<% } else { %>
    <h4>No Arrivals Yet</h4>
<% } %>
<%- include('../partials/footer') %>

